label {
  display: block;
}

html {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
}

div {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #000;
  color: #fff;

  border: none;
}

@media only screen and (min-width: 60em) {

  .left {
    padding: 1rem;
  }

  .right {
    padding: 1rem;
  }

}
